# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

#Zip Files
*.zip
*.gz
*.gz2
*.tar
*.rar
*.rar2

# Executable file
*.exe

# Visual Studio 2015/2017 cache/options directory
.vs/