<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NhuaTienPhong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=.;initial catalog=NhuaTienPhongDB;user id=sa;password=123;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=NhuaTienPhongDB;user id=sa;password=123;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <userSettings>
    <NhuaTienPhong.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepMeSignedIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Nhựa Tiền Phong</value>
      </setting>
      <setting name="Phone" serializeAs="String">
        <value />
      </setting>
      <setting name="Address" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>DevExpress Style</value>
      </setting>
      <setting name="ThemeColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value>Printer</value>
      </setting>
    </NhuaTienPhong.Properties.Settings>
  </userSettings>
</configuration>